.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: example 2s;
    width: 100vw;

    .userContainer {
        padding: 2em 0;
        width: 100%;
        background: rgb(233, 233, 233);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgb(204, 204, 204);

        h1 {
            margin: 20px 0 10px 0;
            font-size: 2.1em;
            font-weight: 400;
    
            a {
                text-decoration: none;
                color: black;
            }
        }
    
        h2 {
            font-weight: 300;
            color: rgb(114, 114, 114);
        }

        .stats {
            margin-top: 50px;
            display: flex;
            
            h3 {
                display: flex;
                align-items: center;
                font-weight: 400;
    
                span {
                    margin-left: 7px;
                    font-weight: 500;
                }
            }
        }
    
        .cameraSpecs {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h3 {
                display: flex;
                align-items: center;
                font-weight: 400;
            }
        }
    }

    .footer {
        font-weight: 400;
        font-size: 1.2em;
        color: rgb(39, 39, 39);
        margin: 2em 0;
        text-decoration: none;

        span {
            font-weight: 500;
        }
    }

}

@media only screen and (max-width: 1000px) {
    .index {
        width: 100%;
    }
 }

@keyframes example {
    from {
        filter: opacity(0%);
        transform: translateY(10px);
    }
    to {
        filter: opacity(100%);
        transform: translateY(0);
    }
  }